
.contentImg img{
    border-radius: 10px;
    width: 50%;
}
.textarea{
    margin-top: 20px;
    border-radius: 10px;
}
.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile div{
    color:greenyellow;
    margin:20px auto;
    font-size: 20px;

}
.span{
    color:darkorange;
    text-decoration: yellow;
    font-size: 30px;
font-weight: normal;
margin-left: 10%;
    border: 1px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px darkturquoise;
}