.header{
    margin-top: 5px;
    padding-top:5px;
    border-radius: 10px;
    grid-area: header;
    background-color: skyblue;
    box-shadow: 10px 5px 5px darkslategrey;

}
.header img{
    width: 80px;

}