.image{
    display: flex;
    justify-content: space-around;
}
.image img{
    width:5%;
}
.button{
    background-color: darkturquoise;
}
.name{
    color:yellow;
}
.selectedPage{
    font-weight: bold;
    color:yellow;

}

