.posts{
    max-width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 10px 5px 5px darkslategrey;
    background-color: skyblue;
    border-radius: 20px;
    padding:5px;
    background-image: url(https://oir.mobi/uploads/posts/2021-01/1611947019_16-p-krasivii-igrovoi-fon-dlya-fotoshopa-16.jpg);
    background-repeat:no-repeat;
}
.posts:hover{

}
.face{
    margin-top: 10px;
    width: 40px;
    border-radius: 30px;
}
.likes{
    margin-top:5px;
    margin-right: 10px;
    text-align: right;
    text-decoration: underline;
}
.like{
    margin-right: 20px;
}
.text{
    background-color: aquamarine;
    margin-left: 20px;
    padding:5px;
    border:5px solid yellow;
    border-radius: 15px;
}